__pycache__
*.pyc
.git
.githooks
.env
venv
.venv
.DS_Store
.pytest_cache
.ruff_cache
cache
tests
scripts
infra
docs
requirements-dev.in
requirements-dev.txt
requirements.in
ci-local.yaml
devoop.sh
app-cli.py
formats.json
Procfile
